<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servicedesk</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Logon</display-name>
    <servlet-name>Logon</servlet-name>
    <servlet-class>com.chefooff.servicedesk.logon.Logon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logon</servlet-name>
    <url-pattern>/Logon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyTickets</display-name>
    <servlet-name>MyTickets</servlet-name>
    <servlet-class>com.chefooff.servicedesk.mytickets.MyTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyTickets</servlet-name>
    <url-pattern>/MyTickets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTicket</display-name>
    <servlet-name>CreateTicket</servlet-name>
    <servlet-class>com.chefooff.servicedesk.createticket.CreateTicket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTicket</servlet-name>
    <url-pattern>/CreateTicket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllTickets</display-name>
    <servlet-name>AllTickets</servlet-name>
    <servlet-class>com.chefooff.servicedesk.alltickets.AllTickets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllTickets</servlet-name>
    <url-pattern>/AllTickets</url-pattern>
  </servlet-mapping>
</web-app>